# Added to ignore the Webstorm files.

*.idea
.idea
idea

# Added to ignore the OS-X system files.

.DS_Store
*.DS_Store

# Default Github .gitignore

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

# AWS Node.js Beanstalk files.
node-express# cat > .gitignore <<EOT 
node_modules/
.gitignore
.elasticbeanstalk/
EOT