extends layout

block headerjs
  script(src='js/knockout-2.2.1.js')
  script(src='js/underscore-min.js')
  script(src='js/gh3.js')
block content
 #page
    #content
        .container.outer-wrap
          .dark-bg
            .fake-bg
            .color-bg
              .columns.four
                #logo
                  a(href='#')
                    img(src='images/github_i_share_code.png', alt='')
                  .shadow-wrap
                .content-pad
                  h3.org-head
                    span Social Consistency Ring
                  .social-icons
                    ul
                      li
                        a(href='http://twitter.com/adron')
                          i.icon-twitter
                      li
                        a(href='http://www.facebook.com/adron')
                          i.icon-facebook
                      li
                        a(href='https://plus.google.com/101393617397674633535')
                          i.icon-google-plus
                      li
                        a(href='http://www.linkedin.com/in/adron')
                          i.icon-linkedin
                      li
                        a(href='http://feeds.feedburner.com/LooselyCoupledHumanCodeFactory')
                          i.icon-rss
                  p This is a dedicated part of my site, to the projects I'm currently working on, the fellow coders I'm working with, and the general open source community efforts I monitor via 
                    a(href='http://www.github.com') Github
                    | .
              .columns.twelve
                #tab-body
                  #tab-container.tab-container
                    ul.etabs
                      li.tab
                        a.resources(href='#coderep')
                          span.icon-wrap
                            i.icon-github
                          | Code Rep
                      li.tab
                        a.resources(href='#resources')
                          span.icon-wrap
                            i.icon-cogs
                          | Resources
                    .panel-container
                      #coderep.page
                        .content-wrap
                          .content.seven
                            .content-pad
                              h3.org-head
                                span Github
                              p Check out my
                              p(data-bind='text: orgName')
                              p(data-bind='text: orgUrl')
                              ul#user
                          .content.four
                      #resources.page
                        .content-wrap
                          .content.seven
                            .content-pad
                              h3.org-head
                                span Github
                              p Check out my 
                          .content.four
              .clearfix
              footer
                .columns.eight
                  .content-pad Copyright © 2013 Adron B Hall
                .clearfix
      p#back-top(style='display: block;')
        a(href='#top')
        
block footerjs
  script(type='text/javascript')
    function AppViewModel() {
    this.orgName = "Test";
    this.orgUrl = "GotKnockout?";};

    ko.applyBindings(new AppViewModel());

    var adron = new Gh3.User("adron"), userInfos = $("#user");

    adron.fetch(function (err, resUser){
    if(err) {
    throw "outch ..."
    }
    console.log(adron, resUser);
    _.each(_.keys(resUser), function (prop) {
    userInfos.append(
    $('<li>').append(prop+" : "+resUser[prop])
    );
    });
    });