extends layout

block headerjs

block content
  body.backgrounded(data-spy='scroll', data-target='.sidebar-nav')
    #phone-navbar.navbar.navbar-inverse.navbar-fixed-top.visible-phone.noprint
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Adron B. Hall
          .nav-collapse.collapse
            ul.nav
              li
                a.scroller(href='#about-me') About me
              li
                a.scroller(href='#personal-information') Personal Info
              li
                a.scroller(href='#employment') Employment
              li
                a.scroller(href='#blog') Blog
              li
                a.scroller(href='#contact') Contact
          //
            /.nav-collapse 
    //
      /#phone-navbar 
    .container
      #content.row
        //
           MAIN CONTENT
        #main-content.span9.equal
          .tools.noprint.visible-desktop
            a.tips.glyphicons.print(href='javascript:if(window.print)window.print()', title='Print', data-placement='bottom')
              i
          #about-me.section.first-section
            .row.author
              .span3
                a(href='http://adron.me')
                  img.img-rounded(src='./images/AH_Logo.png', alt='Adron Hall - Logo')
              .span6
                h1 Adron B. Hall
                br
                h2.primary-color Coder, Messenger, Recon
            .well
              h3 Breaking it down...
              p I'm a Coder, have been for many years and I love coding. I've taken dives into everything from C# on large scale enterprise apps, ported scaled security systems in Java to other languages, slung C, C++ and Objective-C on projects and surfed the web building JavaScript Apps. The list goes on and on as I'm super passionate about coding, but what I focus on and am skilled at only starts there.
              p I'm a Messenger, in the sense that I've been in roles as advocate, evangelists or 'the super excited guy' because I am interested, driven and like to get intimately involved in technology, implementation and seeing the big picture of how the technology - software or hardware - affects us day to day. In this way I advocate and build systems, content, documentation even to bring knowledge to those that seek to build our future!
              p I'm Recon, I scope out, read voraciously, learning always, watching for queues and market shifts, new inventions and how they'll tie together for the next innovation. I like to get involved and stay involved at hackathons, with other companies in partnerships and bringing engineering efforts together.
              p.lead ...and that's just the high level!
            .social-media.noprint
              h5 Follow me
              div
                .tips.icon-btn(title='Twitter', data-placement='bottom')
                  a.glyphicons.white.twitter(href='http://twitter.com/adron')
                    i
                .tips.icon-btn(title='Linkedin', data-placement='bottom')
                  a.glyphicons.white.linked_in(href='http://www.linkedin.com/in/adron')
                    i
                .tips.icon-btn(title='Github', data-placement='bottom')
                  a.glyphicons.white.github(href='http://www.github.com/adron')
                    i
                .tips.icon-btn(title='Composite Code', data-placement='bottom')
                  a.glyphicons.white.rss(href='http://compositecode.com')
                    i
                .tips.icon-btn(title='VCard', data-placement='bottom')
                  a.glyphicons.white.vcard(href='/adron_hall.vcf')
                    i
                .tips.icon-btn(title='Photography', data-placement='bottom')
                  a.glyphicons.white.picture(href='http://photos.adron.me')
                    i
          #personal-information.section
            h2.section-title
              span.glyphicons.user
                i
              | Personal Information
              a.top.visible-phone(href='#phone-navbar')
                span.glyphicons.white.up_arrow
                  i
            .row
              .infoline.span9
                .row
                  .span2.muted Address
                  .span7
                    | 818 SW 3rd Ave #378
                    br
                    | Portland, OR 97204
                    br
              span.clear
              .infoline.span9
                .row
                  .span2.muted Email
                  .span7 "adronhall" at the "gmail.com"
              span.clear
              .infoline.span9
                .row
                  .span2.muted Phone
                  .span7
                    | 503 890 8036
                    br
              span.clear
              .infoline.span9.last
                .row
                  .span2.muted Website
                  .span7
                    a(href='http://compositecode.com', title='') Composite Code
                    br
                    a(href='http://adron.me') Adron.me
                    br
                    a(href='http://photos.adron.me') Photos.Adron.me
              span.clear
          #employment.section
              h2.section-title
                  span.glyphicons.share_alt
                    i
                  | Employment
                  a.top.visible-phone(href='#phone-navbar')
                    span.glyphicons.white.up_arrow
                      i
                .timeline
                  .timeline-item
                    .timeline-item-date 2010 - now
                    .timeline-item-trigger
                      span.glyphicons.white.circle_minus(data-toggle='collapse', data-target='#position1')
                        i
                    .timeline-arrow
                      i
                    .timeline-item-content
                      h3.timeline-item-title(data-toggle='collapse', data-target='#position1') Startup & Small Biz Chief Tech & Ops Officer
                      #position1.collapse.in
                        p
                          small.muted from September 2010 to the present and future...
                        h4.media-heading.primary-color Portland, Seattle, Vancouver BC and San Francisco
                        p I've setup a company to work with startups and small businesses with getting the right architecture, build and deployed product into place. I've pushed this business forward using lean startup approaches, focused on quality, user experience, and putting together teams that can get products built and deployed.
                        p My focus and customer base has been startups in the very early stages of funding with early stage funding such as seed or A series, and small businesses working to grow their client base.
                        p My approach has been technology neutral; However the technology frameworks used focused on; node.js for simple services, Ruby on Rails, Sinatra, JavaScript using jQuery and related libraries for UI, mobile UI, and related multi-tier web development. For more about these implementations, suggestions, practices, and other information please check out my blog at 
                          a.noprint(href='http://compositecode.com', title='') → Composite Code.
                  //
                    /timeline-item
                  span.clear
                  .timeline-item
                    .timeline-item-date 2010 - 2011
                    .timeline-item-trigger
                      span.glyphicons.white.circle_plus(data-toggle='collapse', data-target='#position2')
                        i
                    .timeline-arrow
                      i
                    .timeline-item-content
                      h3.timeline-item-title(data-toggle='collapse', data-target='#position2') Junior Coder, Developer Advocate, Operator @ Company
                      #position2.collapse
                        p
                          small.muted from 2010 to 2011
                        h4.media-heading.primary-color Lorem ipsum dolor sit amet
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                  //
                    /timeline-item
                  span.clear
                  .timeline-item
                    .timeline-item-date 2009 - 2010
                    .timeline-item-trigger
                      span.glyphicons.white.circle_plus(data-toggle='collapse', data-target='#position3')
                        i
                    .timeline-arrow
                      i
                    .timeline-item-content
                      h3.timeline-item-title(data-toggle='collapse', data-target='#position3') Webdesigner @ Studioprod
                      #position3.collapse
                        p
                          small.muted from october 2009 to 2010
                        h4.media-heading.primary-color Lorem ipsum dolor sit amet
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                  //
                    /timeline-item
                  span.clear
                  .timeline-item
                    .timeline-item-date 2008 - 2009
                    .timeline-item-trigger
                      span.glyphicons.white.circle_plus(data-toggle='collapse', data-target='#position4')
                        i
                    .timeline-arrow
                      i
                    .timeline-item-content
                      h3.timeline-item-title(data-toggle='collapse', data-target='#position4') Designer @ Creativecompany
                      #position4.collapse
                        p
                          small.muted from 2008 to 2009
                        h4.media-heading.primary-color Lorem ipsum dolor sit amet
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                  //
                    /timeline-item
                  span.clear
                //
                  /timeline 
              //
                /section



            | Updates to this site and others are coming!
        //
           END OF THE MAIN CONTENT 
        //
           Sidebar placed on the RIGHT of the screen 
        #sidebar.span3.sbright.noprint
          .sidebar-nav.equal.hidden-phone
            ul#resumenav.nav.nav-list.affix
              li
                a.scroller(href='#about-me') About me
              li
                a.scroller(href='#personal-information') Personal Info
              li
                a.scroller(href='#employment') Employment
          //
            /sidebar-nav 
          span.clear
        //
          /span3 
      //
        /row
      #footer
        p © Adron B. Hall - 2013
    //
      /.container
