extends layout

block headerjs
  script(src='js/knockout-2.2.1.js')
  script(src='js/underscore-min.js')
  script(src='js/gh3.js')
  script(type='text/javascript', src='js/jquery-proudify.min.js')
  link(rel='stylesheet', href='css/proudify.min.css')
block content
 #page
    #content
        .container.outer-wrap
          .dark-bg
            .fake-bg
            .color-bg
              .columns.four
                #logo
                  a(href='#')
                    img(src='images/my_photo.png', alt='')
                  .shadow-wrap
                .content-pad
                  h3.org-head
                    span Social Consistency Ring
                  .social-icons
                    ul
                      li
                        a(href='http://twitter.com/adron')
                          i.icon-twitter
                      li
                        a(href='http://www.facebook.com/adron')
                          i.icon-facebook
                      li
                        a(href='https://plus.google.com/101393617397674633535')
                          i.icon-google-plus
                      li
                        a(href='http://www.linkedin.com/in/adron')
                          i.icon-linkedin
                      li
                        a(href='http://www.github.com/adron')
                          i.icon-github
                      li
                        a(href='http://feeds.feedburner.com/LooselyCoupledHumanCodeFactory')
                          i.icon-rss
                      li
                        a(href='http://compositecode.com')
                          i.icon-pencil
              .columns.twelve
                #tab-body
                  #tab-container.tab-container
                    ul.etabs
                      li.tab
                        a.home(href='#home')
                          span.icon-wrap
                            i.icon-home
                          | Home
                      li.tab
                        a.resources(href='#github')
                          span.icon-wrap
                            i.icon-github
                          | Coding
                      li.tab
                        a.resources(href='#organizations')
                          span.icon-wrap
                            i.icon-sitemap
                          | Community
                      li.tab
                        a.resources(href='#blog')
                          span.icon-wrap
                            i.icon-pencil
                          | Composite Code
                      li.tab
                        a.resources(href='#resources')
                          span.icon-wrap
                            i.icon-book
                          | Resources
                      li.tab
                        a.apps(href='#apps')
                          span.icon-wrap
                            i.icon-beer
                          | Bikes Beers & Apps
                    .panel-container
                      #apps.page
                        .content-wrap
                          .content
                            .content-pad
                              h3.org-head
                                span Beer Powered Applications
                              p One can logically argue that the development of civil society was powered by beer. Civil society also took a leap forward with the bicycle, and appears to be positioned to regain that leap forward. Thus, it's no stretch that a lot of great software is powered in such ways too. This section of my site is where I'll have all sorts of things posted related to these three awe inspiring things - bikes, beers and apps!
                      #blog.page
                        .content-wrap
                          .content
                            .content-pad
                              h3.org-head
                                span Composite Code
                              p This will be a feed of my blog, which is located at 
                                a(href='http://compositecode.com') Composite Code
                                | .
                      #organizations.page
                        .content-wrap
                          .content
                            .content-pad
                              h3.org-head
                                span Organizations
                              ul
                                li
                                  a(href='https://github.com/organizations/hacknbike')
                                    span
                                      i.icon-github
                                      | Bike n' Hack
                                li
                                  a(href='https://github.com/organizations/nodepdx')
                                    span
                                      i.icon-github
                                      | Node PDX
                                li
                                  a(href='https://github.com/organizations/IronFoundry')
                                    span
                                      i.icon-github
                                      | Iron Foundry
                                li
                                  a(href='https://github.com/organizations/basho')
                                    span
                                      i.icon-github
                                      | Basho
                                li
                                  a(href='https://github.com/organizations/cloudfoundry')
                                    span
                                      i.icon-github
                                      | Cloud Foundry
                                li
                                  a(href='https://github.com/organizations/openshift')
                                    span
                                      i.icon-github
                                      | OpenShift
                              h3.org-head
                                span Presentations & Workshops
                              ul
                                li
                                  a(href='/presentations')
                                    span
                                      i.icon-play-circle
                                      | Presentation Slides
                                li
                                  a(href='/videos')
                                    span
                                      i.icon-film
                                      | Videos
                      #github.page
                        .content-wrap
                          .content
                            .content-pad
                              h3.org-head
                                span Github Account Stats
                              p My github specs, activities and related information will soon be displayed here in realtime.
                            .content-pad
                              h3.org-head
                                span Coderwall Badges
                              div.coderwall#coderwall
                              div(style='clear:both')
                      #resources.page
                        .content-wrap
                          .columns.eleven
                            .content-pad
                              h3.org-head
                                span ...for Adron.me
                              ul
                                li
                                  a(href='http://fortawesome.github.com/Font-Awesome/')
                                    span
                                      i.icon-link
                                      | Font Awesome
                                  |  is a set of fonts, that are icons, of awesome. Built from the ground up to be pixel perfect & easy to use and integrate. They're also, to boot, ready for Twitter's Bootstrap too.
                                li
                                  a(href='http://themeforest.net/')
                                    span
                                      i.icon-link
                                      | Theme Forest
                                  |  a site that sells professional, high quality & well documented themes & design materials. As their parent organization Envato's about page states, "Our mission is to help people to earn and to learn, online. We operate marketplaces where hundreds of thousands of people buy and sell digital goods every day, and a network of educational blogs where millions learn creative skills."
                                li
                                  a(href='http://nodejs.org/')
                                    span
                                      i.icon-link
                                      | Node.js
                                  |  Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices. Because of this, I've used it as a primary base for distributing my personal site.
                                li
                                  a(href='http://basho.com/riak/')
                                    span
                                      i.icon-link
                                      | Riak
                                  |  Riak is an open source, distributed database. It is designed for:
                                  ul
                                    li - Availability: Riak replicates and retrieves data intelligently so it is available for read and write operations, even in failure conditions;
                                    li - Fault-Tolerance: You can lose access to many nodes due to network partition or hardware failure without losing data;
                                    li - Operational Simplicity: Add new machines to your Riak cluster easily without incurring a larger operational burden – the same ops tasks apply to small clusters as large clusters;
                                    li - Scalability: Riak automatically distributes data around the cluster and yields a near-linear performance increase as you add capacity.
                                  | I'll have several systems coming live mid-2013 that will utilize Riak as a back end database for storage, retrieval and search results across various parts of the site.
                          .clearfix

                      #home.page
                        .content-wrap
                          .columns.six
                            .content-pad
                              .intro-head
                                p.font48 Hello
                                p.font24
                                  | How's it going? I'm 
                                  span Adron
                                  | .
                                p.font12 I'll be adding a lot more content to this site in the coming days as my new hub of apps & portfolio site.
                          .columns.five
                            .content-pad
                              h3.org-head
                                span Communications
                              p
                                | Please contact in order of tweet, email and then call unless we've otherwise arranged a specific communication medium. Thanks!
                              .home-contact
                                p
                                  span
                                    i.icon-twitter
                                  a(href='http://twitter.com/adron') @adron
                                p
                                  span
                                    i.icon-phone-sign
                                  | (503) 890-8036
                                p
                                  span
                                    i.icon-envelope-alt
                                  a(href='mailto://adronhall@gmail.com') adronhall@gmail.com
                                p
                                  i.icon-pencil
                                  a(href='http://compositecode.com') Composite Code
                                p
                                  i.icon-download-alt
                                  a(href='adron_hall.vcf') My Vcard
                                p
                                  span
                                    i.icon-home
                                  a(href='https://maps.google.com/maps?q=818+SW+3rd+Ave,+Portland,+OR&hl=en&ll=45.517309,-122.675829&spn=0.007623,0.019419&sll=45.522398,-122.684126&sspn=0.007622,0.019419&oq=818+SW+&hnear=818+SW+3rd+Ave,+Portland,+Multnomah,+Oregon+97204&t=m&z=16') 818 SW 3rd Ave, Portland, OR 97204
                          .clearfix
              .clearfix
              footer
                .columns.eight
                  .content-pad Copyright © 2013 Adron B Hall
                .columns.eight
                  .powered-by.content-pad
                    | Theme by the most excellent 
                    a(target='_blank', href='http://themeforest.net/user/mannatstudio') MannatStudio
                .clearfix
      p#back-top(style='display: block;')
        a(href='#top')
block footerjs
  |<script>
  |$('#coderwall').proudify({username:'adron',service:'coderwall'});
  |$('.proudify.social').hover(function(){
  |$(this).animate({"left": "+=23px"}, "fast");},
  |function()
  |{$(this).animate({"left": "-=23px"}, "fast");});
  |</script>
  