extends layout

block headerjs

block content
  body.backgrounded(data-spy='scroll', data-target='.sidebar-nav')
    #phone-navbar.navbar.navbar-inverse.navbar-fixed-top.visible-phone.noprint
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') John Doe
          .nav-collapse.collapse
            ul.nav
              li
                a.scroller(href='#about-me') About me
              li
                a.scroller(href='#personal-information') Personal Info
              li
                a.scroller(href='#employment') Employment
              li
                a.scroller(href='#education') Education
              li
                a.scroller(href='#skills') Skills
              li
                a.scroller(href='#testimonials') Testimonials
              li
                a.scroller(href='#hobbies') Domain Interests
              li
                a.scroller(href='#projects') Projects
              li
                a.scroller(href='#blog') Blog
              li
                a.scroller(href='#contact') Contact
          //
            /.nav-collapse 
    //
      /#phone-navbar 
    .container
      #content.row
        //
           If you want the sidebar placed on the left, place it just after this and change the sbright class by sbleft 
        //
           MAIN CONTENT 
        #main-content.span9.equal
          .tools.noprint.visible-desktop
            a.tips.glyphicons.print(href='javascript:if(window.print)window.print()', title='Print', data-placement='bottom')
              i

          #about-me.section.first-section
            .row.author
              .span3
                a(href='http://adron.me')
                  img.img-rounded(src='./images/AH_Logo.png', alt='Adron Hall - Logo')
              .span6
                h1 Adron B. Hall
                br
                h2.primary-color Coder, Developer Advocate, Operator
            .well
              h3 I am a Coder, Developer Advocate, Operator
              p.lead
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor blandit eros vel scelerisque. Donec mi eros, eleifend et ornare tempus, bibendum a metus. Proin nec nisi et augue sodales gravida. Sed fermentum molestie tortor sit amet pulvinar. Nam commodo pretium adipiscing. Nullam vestibulum fringilla lectus, ut vulputate neque laoreet sit amet.
            .social-media.noprint
              h5 Follow me
              div
                .tips.icon-btn(title='Twitter', data-placement='bottom')
                  a.glyphicons.white.twitter(href='http://twitter.com/adron')
                    i
                .tips.icon-btn(title='Linkedin', data-placement='bottom')
                  a.glyphicons.white.linked_in(href='http://www.linkedin.com/in/adron')
                    i
                .tips.icon-btn(title='Github', data-placement='bottom')
                  a.glyphicons.white.github(href='http://www.github.com/adron')
                    i
                .tips.icon-btn(title='Composite Code', data-placement='bottom')
                  a.glyphicons.white.rss(href='http://compositecode.com')
                    i
                .tips.icon-btn(title='VCard', data-placement='bottom')
                  a.glyphicons.white.vcard(href='/adron_hall.vcf')
                    i
                .tips.icon-btn(title='VCard', data-placement='bottom')
                  a.glyphicons.white.picture(href='http://photos.adron.me')
                    i
          #personal-information.section
            h2.section-title
              span.glyphicons.user
                i
              | Personal Information
              a.top.visible-phone(href='#phone-navbar')
                span.glyphicons.white.up_arrow
                  i
            .row
              .infoline.span9
                .row
                  .span2.muted Address
                  .span7
                    | 818 SW 3rd Ave #378
                    br
                    | Portland, OR 97204
                    br
              span.clear
              .infoline.span9
                .row
                  .span2.muted Email
                  .span7 "adronhall" at the famous "gmail.com"
              span.clear
              .infoline.span9
                .row
                  .span2.muted Phone
                  .span7
                    | 503 890 8036
                    br
              span.clear
              .infoline.span9.last
                .row
                  .span2.muted Website
                  .span7
                    a(href='http://compositecode.com', title='') Composite Code
                    br
                    a(href='http://adron.me') Adron.me
                    br
                    a(href='http://photos.adron.me') Photos
              span.clear
          #employment.section
            h2.section-title
              span.glyphicons.share_alt
                i
              | Employment
              a.top.visible-phone(href='#phone-navbar')
                span.glyphicons.white.up_arrow
                  i
            .timeline
              .timeline-item
                .timeline-item-date 2011 - now
                .timeline-item-trigger
                  span.glyphicons.white.circle_minus(data-toggle='collapse', data-target='#position1')
                    i
                .timeline-arrow
                  i
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#position1') Senior Coder, Developer Advocate, Operator @ Company
                  #position1.collapse.in
                    p
                      small.muted from 2011 to present day
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                    p
                      a.noprint(href='#', title='') → View website
              span.clear
              .timeline-item
                .timeline-item-date 2010 - 2011
                .timeline-item-trigger
                  span.glyphicons.white.circle_plus(data-toggle='collapse', data-target='#position2')
                    i
                .timeline-arrow
                  i
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#position2') Junior Coder, Developer Advocate, Operator @ Company
                  #position2.collapse
                    p
                      small.muted from 2010 to 2011
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
              //
                /timeline-item
              span.clear
              .timeline-item
                .timeline-item-date 2009 - 2010
                .timeline-item-trigger
                  span.glyphicons.white.circle_plus(data-toggle='collapse', data-target='#position3')
                    i
                .timeline-arrow
                  i
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#position3') Webdesigner @ Studioprod
                  #position3.collapse
                    p
                      small.muted from october 2009 to 2010
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
              //
                /timeline-item
              span.clear
              .timeline-item
                .timeline-item-date 2008 - 2009
                .timeline-item-trigger
                  span.glyphicons.white.circle_plus(data-toggle='collapse', data-target='#position4')
                    i
                .timeline-arrow
                  i
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#position4') Designer @ Creativecompany
                  #position4.collapse
                    p
                      small.muted from 2008 to 2009
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
              //
                /timeline-item
              span.clear
            //
              /timeline 
          //
            /section
          #education.section
            h2.section-title
              span.glyphicons.certificate
                i
              | Education
              a.top.visible-phone(href='#phone-navbar')
                span.glyphicons.white.up_arrow
                  i
            .timeline
              .timeline-item
                .timeline-item-date 2007 - 2009
                .timeline-item-trigger
                  span.glyphicons.white.circle_minus(data-toggle='collapse', data-target='#education1')
                    i
                .timeline-arrow
                  i
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#education1') University of Design
                  #education1.collapse.in
                    p
                      small.muted from 2007 to 2009
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
              //
                /timeline-item
              span.clear
              .timeline-item
                .timeline-item-date 2004 - 2007
                .timeline-item-trigger
                  span.glyphicons.white.circle_plus(data-toggle='collapse', data-target='#education2')
                    i
                .timeline-arrow
                  i
                .timeline-item-content
                  h3.timeline-item-title(data-toggle='collapse', data-target='#education2') School of Design
                  #education2.collapse
                    p
                      small.muted from 2004 to 2007
                    h4.media-heading.primary-color Lorem ipsum dolor sit amet
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
              //
                /timeline-item
              span.clear
            //
              /timeline 
          //
            /section
          #skills.section.skills
            h2.section-title
              span.glyphicons.cogwheels
                i
              | Skills
              a.top.visible-phone(href='#phone-navbar')
                span.glyphicons.white.up_arrow
                  i
            h3 Design
            .row
              .span2 Print
              .span3
                span.printonly Good
                .progress
                  .bar(style='width: 60%;')
            .row
              .span2 Web
              .span3
                span.printonly Very good
                .progress
                  .bar(style='width: 80%;')
            .row
              .span2 User Interface
              .span3
                span.printonly Expert
                .progress
                  .bar(style='width: 100%;')
            hr
            h3 Development
            .row
              .span2 Programming Languages
              .span7
                span.label HTML5
                span.label CSS3
                span.label javaScript
                span.label jQuery
                span.label XML
                span.label php5
            span.spacer
            .row
              .span2 CMS
              .span7
                span.label Wordpress
                span.label Drupal
                span.label Joomla
          //
            /section
          #testimonials.section
            h2.section-title
              span.glyphicons.comments
                i
              | Testimonials
              a.top.visible-phone(href='#phone-navbar')
                span.glyphicons.white.up_arrow
                  i
            .testimonial
              blockquote
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                p
                  | Integer posuere erat a ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                small
                  a(href='#', title='') Mike Johanson
                  cite  | SEO @ SDA Company
            .testimonial
              .media
                img.media-object.pull-left(src='images/80-80-portrait.jpg', alt='')
                  blockquote
                    p
                      | Donec eros magna, blandit eu tempus a, ornare quis nulla. Cras gravida fringilla tellus a euismod. Curabitur risus lacus, congue eget condimentum id, feugiat et nisl. Nulla diam lacus, posuere eget gravida in, gravida id sem. Etiam pharetra ornare sollicitudin.
                    small
                      a(href='#', title='') John Robinson
                      cite  | client @ Starlabs
            .testimonial
              blockquote
                p
                  | Vivamus gravida convallis est, non tristique nisl pellentesque ut. Praesent congue tortor vel quam scelerisque in suscipit elit malesuada. Nam volutpat ultricies augue, ac accumsan dolor ornare eu. Nam ut egestas nulla.
                p
                  | Nunc ullamcorper, nulla vitae pellentesque dictum, diam ligula iaculis ipsum, aliquam vestibulum leo libero vel turpis.
                small
                  a(href='#', title='') Bob Smith
                  cite  | Designer @ ZNS Agency
          //
            /section
          #hobbies.section.hobbies
            h2.section-title
              span.glyphicons.heart_empty
                i
              | Domain Interests
              a.top.visible-phone(href='#phone-navbar')
                span.glyphicons.white.up_arrow
                  i
            .row
              .span9
                span.label
                  span.glyphicons.white.bicycle
                    i
                    | Bicycling
                span.label
                  span.glyphicons.white.bus
                    i
                    | Transit
                span.label
                  span.glyphicons.white.train
                    i
                    | Trains
                span.label
                  span.glyphicons.white.home
                    i
                    | Livability
                span.label
                  span.glyphicons.white.truck
                    i
                    | Logistics
                span.label.tips.mobtoo(title='I love sci-fy & action movies')
                  span.glyphicons.white.film
                    i
                    | Movies
                span.label
                  span.glyphicons.white.pool
                    i
                    | Swimming
                span.label
                  span.glyphicons.white.gamepad
                    i
                    | Video games
                span.label
                  span.glyphicons.white.guitar
                    i
                    | Music
                span.label
                  span.glyphicons.white.globe
                    i
                    | Traveling
                span.label
                  span.glyphicons.white.food
                    i
                    | Cooking
          //
            /section
          #projects.section.clearfix.noprint
            h2.section-title
              span.glyphicons.show_thumbnails
                i
              | Projects
              a.top.visible-phone(href='#phone-navbar')
                span.glyphicons.white.up_arrow
                  i
        
            //
               Featured Projects items 
            #projects-items.row
              .span3.projectsitem.projects-type1
                img(src='./images/thumb01.jpg', alt='')
                .projectsitem-hoverinfo
                  h3 Lorem ipsum
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  .projectsitem-actions
                    a.tips.img-circle.lightbox(href='./images/01.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[projectsimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#projectsitem-1', title='View Project', data-placement='bottom')
                      span.glyphicons.white.share
                        i
              //
                /projectsitem
              .span3.projectsitem.projects-type2
                img(src='./images/thumb02.jpg', alt='')
                .projectsitem-hoverinfo
                  h3 Cras gravida fringilla
                  p Donec eros magna, blandit eu tempus a, ornare quis nulla.
                  .projectsitem-actions
                    a.tips.img-circle.lightbox(href='./images/02.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[projectsimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#projectsitem-2', title='View Project', data-placement='bottom')
                      span.glyphicons.white.share
                        i
              //
                /projectsitem
              .span3.projectsitem.projects-type3
                img(src='./images/thumb03.jpg', alt='')
                .projectsitem-hoverinfo
                  h3 Nulla diam lacus
                  p Curabitur risus lacus, congue eget condimentum id, feugiat et nisl.
                  .projectsitem-actions
                    a.tips.img-circle.lightbox(href='./images/03.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[projectsimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#projectsitem-3', title='View Project', data-placement='bottom')
                      span.glyphicons.white.share
                        i
              //
                /projectsitem
              .span3.projectsitem.projects-type1
                img(src='./images/thumb04.jpg', alt='')
                .projectsitem-hoverinfo
                  h3 Proin quam lacus
                  p Proin quam lacus, dapibus non sodales ac, pharetra et urna.
                  .projectsitem-actions
                    a.tips.img-circle.lightbox(href='./images/04.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[projectsimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#projectsitem-4', title='View Project', data-placement='bottom')
                      span.glyphicons.white.share
                        i
              //
                /projectsitem
              .span3.projectsitem.projects-type2
                img(src='./images/thumb05.jpg', alt='')
                .projectsitem-hoverinfo
                  h3 Tellus ligula
                  p Cras vestibulum, mi aliquam molestie tincidunt, tellus ligula tempor neque. 
                  .projectsitem-actions
                    a.tips.img-circle.lightbox(href='./images/05.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[projectsimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#projectsitem-5', title='View Project', data-placement='bottom')
                      span.glyphicons.white.share
                        i
              //
                /projectsitem
              .span3.projectsitem.projects-type1
                img(src='./images/thumb07.jpg', alt='')
                .projectsitem-hoverinfo
                  h3 In sed eleifend orci
                  p Morbi ultrices ullamcorper magna, quis placerat libero pretium at.
                  .projectsitem-actions
                    a.tips.img-circle.lightbox(href='./images/07.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[projectsimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#projectsitem-6', title='View Project', data-placement='bottom')
                      span.glyphicons.white.share
                        i
              //
                /projectsitem
            //
              /row
            //
               /Featured Projects Items 
            #full-projects-items.row
              .span9
                a#projects-back.btn.btn-primary.hidden(href='#') ← Back to Projects List
                //
                   This is a Projects item 
                #projectsitem-1.projectsitem-content.hidden
                  img(src='./images/01.jpg', alt='')
                  h2.primary-color Lorem ipsum
                  h3 Lectus tristique scelerisque
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                  ul.pager
                    li.previous
                      a.(href='#projectsitem-6') ← Previous
                    li.next
                      a.(href='#projectsitem-2') Next →
                //
                   /Projects item 
                //
                   This is a Projects item 
                #projectsitem-2.projectsitem-content.hidden
                  img(src='./images/02.jpg', alt='')
                  h2.primary-color Cras gravida fringilla
                  h3 Accumsan dolor ornare
                  p
                    | Vivamus gravida convallis est, non tristique nisl pellentesque ut. Praesent congue tortor vel quam scelerisque in suscipit elit malesuada. Nam volutpat ultricies augue, ac accumsan dolor ornare eu. Nam ut egestas nulla. Nunc ullamcorper, nulla vitae pellentesque dictum, diam ligula iaculis ipsum, aliquam vestibulum leo libero vel turpis. Nunc cursus dignissim sodales.
                  ul.pager
                    li.previous
                      a.(href='#projectsitem-1') ← Previous
                    li.next
                      a.(href='#projectsitem-3') Next →
                //
                   /Projects item 
                //
                   This is a Projects item 
                #projectsitem-3.projectsitem-content.hidden
                  img(src='./images/03.jpg', alt='')
                  h2.primary-color Nulla diam lacus
                  h3 Etiam sagittis, felis id 
                  p
                    | Etiam eleifend sem ornare lacus ullamcorper interdum. Aenean nec justo nisl, vel cursus nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque, eros at vestibulum feugiat, ante urna cursus turpis, in rhoncus enim lorem ac nisl. Phasellus tristique ultricies metus, a condimentum lacus sagittis non. Phasellus euismod nulla eget lacus aliquam auctor.
                  p
                    | Sed nisl sem, semper id sollicitudin vitae, pharetra at tellus. Ut eu sem vitae erat rhoncus posuere. Praesent hendrerit, nunc nec molestie bibendum, leo metus volutpat lacus, a luctus ante massa a lectus. Etiam sagittis, felis id dignissim pulvinar, purus lorem tempor lectus, et suscipit mauris lorem et elit.
                  ul.pager
                    li.previous
                      a.(href='#projectsitem-2') ← Previous
                    li.next
                      a.(href='#projectsitem-4') Next →
                //
                   /Projects item 
                //
                   This is a Projects item 
                #projectsitem-4.projectsitem-content.hidden
                  img(src='./images/04.jpg', alt='')
                  h2.primary-color Proin quam lacus
                  h3 Subtitle
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                  ul.pager
                    li.previous
                      a.(href='#projectsitem-3') ← Previous
                    li.next
                      a.(href='#projectsitem-5') Next →
                //
                   /Projects item 
                //
                   This is a Projects item 
                #projectsitem-5.projectsitem-content.hidden
                  img(src='./images/05.jpg', alt='')
                  h2.primary-color Tellus ligula
                  h3 ullam pharetra, metus id semper fringilla
                  p
                    | Praesent suscipit pellentesque est, non blandit ante feugiat in. Aliquam erat volutpat. Donec lorem sem, vestibulum ac vehicula in, tempus sit amet sem. Curabitur nec ante risus. Integer libero nunc, euismod in mattis ac, auctor in arcu. Nullam pharetra, metus id semper fringilla, est lorem euismod lectus, at dignissim elit turpis et dolor. Praesent adipiscing, metus eget lacinia viverra, dolor nibh consequat erat, a rutrum leo nulla non metus.
                  ul.pager
                    li.previous
                      a.(href='#projectsitem-4') ← Previous
                    li.next
                      a.(href='#projectsitem-6') Next →
                //
                   /Projects item 
                //
                   This is a Projects item 
                #projectsitem-6.projectsitem-content.hidden
                  img(src='./images/07.jpg', alt='')
                  h2.primary-color In sed eleifend orci
                  h3 Enim mauris rhoncus elit
                  p
                    | Phasellus condimentum pulvinar tincidunt. Phasellus vehicula, felis id auctor placerat, nunc magna feugiat nunc, vitae tempor metus lorem ac quam. In vel lacus nibh, a varius metus.
                  p
                    | Suspendisse ut tortor ligula, id fringilla mi. Curabitur bibendum tortor tempus sem posuere vehicula accumsan mauris molestie. Etiam eget nulla vel sem tristique dapibus. In orci justo, pharetra vel scelerisque eu, gravida vel felis. Etiam mattis blandit rutrum. Maecenas viverra massa sed sem feugiat sed mollis dolor venenatis. In aliquet, sem et cursus scelerisque, enim mauris rhoncus elit, sit amet ornare massa metus non lectus.
                  ul.pager
                    li.previous
                      a.(href='#projectsitem-5') ← Previous
                    li.next
                      a.(href='#projectsitem-1') Next →
                //
                   /Projects item 
              //
                /span9
            //
              /row
          //
            /section
          span.clear
          #blog.section.noprint
            h2.section-title
              span.glyphicons.pencil
                i
              | Blog
              a.top.visible-phone(href='#phone-navbar')
                span.glyphicons.white.up_arrow
                  i
            //
               Featured Blog items 
            #blog-items.row
              .span3.blogitem
                img(src='./images/thumbblog01.jpg', alt='')
                h3 Lorem ipsum
                .blogitem-date
                  span.month JUN
                  span.day 15
                .blogitem-hoverinfo
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                  .blogitem-actions
                    a.tips.img-circle.lightbox(href='./images/blog01.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[blogimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#blogitem-1', title='View Post', data-placement='bottom')
                      span.glyphicons.white.share
                        i
              .span3.blogitem
                img(src='./images/thumbblog02.jpg', alt='')
                h3 Cras gravida fringilla
                .blogitem-date
                  span.month MAY
                  span.day 16
                .blogitem-hoverinfo
                  p Praesent congue tortor vel quam scelerisque in suscipit elit malesuada. 
                  .blogitem-actions
                    a.tips.img-circle.lightbox(href='./images/blog02.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[blogimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#blogitem-2', title='View Post', data-placement='bottom')
                      span.glyphicons.white.share
                        i
              .span3.blogitem
                img(src='./images/thumbblog03.jpg', alt='')
                h3 Nulla diam lacus
                .blogitem-date
                  span.month APR
                  span.day 22
                .blogitem-hoverinfo
                  p Etiam eleifend sem ornare lacus ullamcorper interdum.
                  .blogitem-actions
                    a.tips.img-circle.lightbox(href='./images/blog03.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[blogimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#blogitem-3', title='View Post', data-placement='bottom')
                      span.glyphicons.white.share
                        i
              .span3.blogitem
                img(src='./images/thumbblog04.jpg', alt='')
                h3 Proin quam lacus
                .blogitem-date
                  span.month MAR
                  span.day 27
                .blogitem-hoverinfo
                  p Proin tincidunt diam ac lectus tristique scelerisque.
                  .blogitem-actions
                    a.tips.img-circle.lightbox(href='./images/blog04.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[blogimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#blogitem-4', title='View Post', data-placement='bottom')
                      span.glyphicons.white.share
                        i
              .span3.blogitem
                img(src='./images/thumbblog05.jpg', alt='')
                h3 Tellus ligula
                .blogitem-date
                  span.month FEB
                  span.day 13
                .blogitem-hoverinfo
                  p
                    | Praesent adipiscing, metus eget lacinia viverra, dolor nibh consequat erat, a rutrum leo nulla non metus.
                  .blogitem-actions
                    a.tips.img-circle.lightbox(href='./images/blog05.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[blogimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#blogitem-5', title='View Post', data-placement='bottom')
                      span.glyphicons.white.share
                        i
              .span3.blogitem
                img(src='./images/thumbblog06.jpg', alt='')
                h3 In sed eleifend orci
                .blogitem-date
                  span.month JAN
                  span.day 02
                .blogitem-hoverinfo
                  p Curabitur bibendum tortor tempus sem posuere vehicula accumsan mauris molestie.
                  .blogitem-actions
                    a.tips.img-circle.lightbox(href='./images/blog06.jpg', title='Preview image', data-placement='bottom', rel='prettyPhoto[blogimages]')
                      span.glyphicons.white.zoom_in
                        i
                    a.tips.more-info.img-circle(href='#blogitem-6', title='View Post', data-placement='bottom')
                      span.glyphicons.white.share
                        i
            //
              /row
            //
               /Featured Blog items 
            #full-blog-items.row
              .span9
                a#blog-back.btn.btn-primary.hidden(href='#') ← Back to Blog List
                //
                   This is a blog item 
                #blogitem-1.blogitem-content.hidden
                  img(src='./images/blog01.jpg', alt='')
                  h2.primary-color Lorem ipsum
                  .blogmeta.muted
                    div
                      span.glyphicons.user
                        i
                      | Adron B. Hall
                    div
                      span.glyphicons.calendar
                        i
                      | June 15, 2012
                    div
                      span.glyphicons.inbox
                        i
                      | Category
                    div
                      span.glyphicons.tags
                        i
                      | Lorem, Ipsum, Dolor, Sit amet
                  h3 Lorem ipsum
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                  ul.pager
                    li.previous
                      a.(href='#blogitem-6') ← Previous
                    li.next
                      a.(href='#blogitem-2') Next →
                //
                   / Blog item 
                //
                   This is a blog item 
                #blogitem-2.blogitem-content.hidden
                  img(src='./images/blog02.jpg', alt='')
                  h2.primary-color Cras gravida fringilla
                  .blogmeta.muted
                    div
                      span.glyphicons.user
                        i
                      | Adron B. Hall
                    div
                      span.glyphicons.calendar
                        i
                      | May 16, 2012
                    div
                      span.glyphicons.inbox
                        i
                      | Category
                    div
                      span.glyphicons.tags
                        i
                      | Lorem, Ipsum, Dolor, Sit amet
                  h3 Accumsan dolor ornare
                  p
                    | Vivamus gravida convallis est, non tristique nisl pellentesque ut. Praesent congue tortor vel quam scelerisque in suscipit elit malesuada. Nam volutpat ultricies augue, ac accumsan dolor ornare eu. Nam ut egestas nulla. Nunc ullamcorper, nulla vitae pellentesque dictum, diam ligula iaculis ipsum, aliquam vestibulum leo libero vel turpis. Nunc cursus dignissim sodales.
                  ul.pager
                    li.previous
                      a.(href='#blogitem-1') ← Previous
                    li.next
                      a.(href='#blogitem-3') Next →
                //
                   / Blog item 
                //
                   This is a blog item 
                #blogitem-3.blogitem-content.hidden
                  img(src='./images/blog03.jpg', alt='')
                  h2.primary-color Nulla diam lacus
                  .blogmeta.muted
                    div
                      span.glyphicons.user
                        i
                      | Adron B. Hall
                    div
                      span.glyphicons.calendar
                        i
                      | April 22, 2012
                    div
                      span.glyphicons.inbox
                        i
                      | Category
                    div
                      span.glyphicons.tags
                        i
                      | Lorem, Ipsum, Dolor, Sit amet
                  h3 Etiam sagittis, felis id 
                  p
                    | Etiam eleifend sem ornare lacus ullamcorper interdum. Aenean nec justo nisl, vel cursus nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque, eros at vestibulum feugiat, ante urna cursus turpis, in rhoncus enim lorem ac nisl. Phasellus tristique ultricies metus, a condimentum lacus sagittis non. Phasellus euismod nulla eget lacus aliquam auctor.
                  p
                    | Sed nisl sem, semper id sollicitudin vitae, pharetra at tellus. Ut eu sem vitae erat rhoncus posuere. Praesent hendrerit, nunc nec molestie bibendum, leo metus volutpat lacus, a luctus ante massa a lectus. Etiam sagittis, felis id dignissim pulvinar, purus lorem tempor lectus, et suscipit mauris lorem et elit.
                  ul.pager
                    li.previous
                      a.(href='#blogitem-2') ← Previous
                    li.next
                      a.(href='#blogitem-4') Next →
                //
                   / Blog item 
                //
                   This is a blog item 
                #blogitem-4.blogitem-content.hidden
                  img(src='./images/blog04.jpg', alt='')
                  h2.primary-color Proin quam lacus
                  .blogmeta.muted
                    div
                      span.glyphicons.user
                        i
                      | Adron B. Hall
                    div
                      span.glyphicons.calendar
                        i
                      | March 27, 2012
                    div
                      span.glyphicons.inbox
                        i
                      | Category
                    div
                      span.glyphicons.tags
                        i
                      | Lorem, Ipsum, Dolor, Sit amet
                  h3 Proin tincidunt diam ac lectus tristique scelerisque
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                  ul.pager
                    li.previous
                      a.(href='#blogitem-3') ← Previous
                    li.next
                      a.(href='#blogitem-5') Next →
                //
                   / Blog item 
                //
                   This is a blog item 
                #blogitem-5.blogitem-content.hidden
                  img(src='./images/blog05.jpg', alt='')
                  h2.primary-color In sed eleifend orci
                  .blogmeta.muted
                    div
                      span.glyphicons.user
                        i
                      | Adron B. Hall
                    div
                      span.glyphicons.calendar
                        i
                      | February 13, 2012
                    div
                      span.glyphicons.inbox
                        i
                      | Category
                    div
                      span.glyphicons.tags
                        i
                      | Lorem, Ipsum, Dolor, Sit amet
                  h3 Enim mauris rhoncus elit
                  p
                    | Phasellus condimentum pulvinar tincidunt. Phasellus vehicula, felis id auctor placerat, nunc magna feugiat nunc, vitae tempor metus lorem ac quam. In vel lacus nibh, a varius metus.
                  p
                    | Suspendisse ut tortor ligula, id fringilla mi. Curabitur bibendum tortor tempus sem posuere vehicula accumsan mauris molestie. Etiam eget nulla vel sem tristique dapibus. In orci justo, pharetra vel scelerisque eu, gravida vel felis. Etiam mattis blandit rutrum. Maecenas viverra massa sed sem feugiat sed mollis dolor venenatis. In aliquet, sem et cursus scelerisque, enim mauris rhoncus elit, sit amet ornare massa metus non lectus.
                  ul.pager
                    li.previous
                      a.(href='#blogitem-4') ← Previous
                    li.next
                      a.(href='#blogitem-6') Next →
                //
                   / Blog item 
                //
                   This is a blog item 
                #blogitem-6.blogitem-content.hidden
                  img(src='./images/blog06.jpg', alt='')
                  h2.primary-color In sed eleifend orci
                  .blogmeta.muted
                    div
                      span.glyphicons.user
                        i
                      | Adron B. Hall
                    div
                      span.glyphicons.calendar
                        i
                      | January 2nd, 2012
                    div
                      span.glyphicons.inbox
                        i
                      | Category
                    div
                      span.glyphicons.tags
                        i
                      | Lorem, Ipsum, Dolor, Sit amet
                  h3 Consectetur adipiscing elit
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt diam ac lectus tristique scelerisque. Quisque vitae libero sit amet turpis faucibus auctor eget vitae tortor. Aenean metus erat, ultricies non mattis quis, molestie ac massa. Sed sollicitudin erat ac dui viverra a posuere eros adipiscing. Phasellus nisi lectus, imperdiet sed hendrerit ac, dictum quis sem. Phasellus vel nisi non massa elementum porta. Aliquam erat volutpat.
                  ul.pager
                    li.previous
                      a.(href='#blogitem-5') ← Previous
                    li.next
                      a.(href='#blogitem-1') Next →
                //
                   / Blog item 
              //
                /span9
            //
              /row
          //
            /section
          span.clear
          #contact.section.noprint
            h2.section-title
              span.glyphicons.message_flag
                i
              | Contact
              a.top.visible-phone(href='#phone-navbar')
                span.glyphicons.white.up_arrow
                  i
            .alert.alert-info
              button.close(type='button', data-dismiss='alert') ×
              | Make sure to fill all the fields with correct values before sending your email!
            form.form-horizontal(method='post', action='#contact')
              fieldset
                legend Send me a message using the form below
                .control-group
                  label.control-label(for='form-subject') Subject
                  .controls
                    .input-append
                      input#form-subject.input-xlarge(type='text', placeholder='Email Subject', name='subject', value='')
                      span.add-on
                        span.glyphicons.circle_question_mark
                          i
                .control-group
                  label.control-label(for='form-message') Message
                  .controls
                    .input-append
                      textarea#form-message.input-xlarge(rows='6', placeholder='Your message', name='message')
                      span.add-on
                        span.glyphicons.pen
                          i
                .control-group
                  .controls
                    button.btn.btn-primary.input-medium(type='submit', name='submit') Submit
          //
            /section
        //
          /span9
        //
           END OF THE MAIN CONTENT 
        //
           Sidebar placed on the RIGHT of the screen 
        #sidebar.span3.sbright.noprint
          .sidebar-nav.equal.hidden-phone
            ul#resumenav.nav.nav-list.affix
              li
                a.scroller(href='#about-me') About me
              li
                a.scroller(href='#personal-information') Personal Info
              li
                a.scroller(href='#employment') Employment
              li
                a.scroller(href='#education') Education
              li
                a.scroller(href='#skills') Skills
              li
                a.scroller(href='#testimonials') Testimonials
              li
                a.scroller(href='#hobbies') Domain Interests
              li
                a.scroller(href='#projects') Projects
              li
                a.scroller(href='#blog') Blog
              li
                a.scroller(href='#contact') Contact
          //
            /sidebar-nav 
          span.clear
        //
          /span3 
      //
        /row
      #footer
        p © Adron B. Hall - 2012
    //
      /.container
