extends layout

block headerjs

block content
  body.backgrounded(data-spy='scroll', data-target='.sidebar-nav')
    #phone-navbar.navbar.navbar-inverse.navbar-fixed-top.visible-phone.noprint
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Adron B. Hall
          .nav-collapse.collapse
            ul.nav
              li
                a.scroller(href='#about-me') About me
              li
                a.scroller(href='#personal-information') Personal Info
              li
                a.scroller(href='#projects') Projects
              li
                a.scroller(href='#blog') Blog
              li
                a.scroller(href='#contact') Contact
          //
            /.nav-collapse 
    //
      /#phone-navbar 
    .container
      #content.row
        //
           If you want the sidebar placed on the left, place it just after this and change the sbright class by sbleft 
        //
           MAIN CONTENT 
        #main-content.span9.equal
          .tools.noprint.visible-desktop
            a.tips.glyphicons.print(href='javascript:if(window.print)window.print()', title='Print', data-placement='bottom')
              i
          #about-me.section.first-section
            .row.author
              .span3
                a(href='http://adron.me')
                  img.img-rounded(src='./images/AH_Logo.png', alt='Adron Hall - Logo')
              .span6
                h1 Adron B. Hall
                br
                h2.primary-color Coder, Developer Advocate, Operator
            .well
              h3 I am a Coder, Developer Advocate, Operator
              p.lead
                | More to come, resume site is in the works.
              p.lead In the near future I'll have my next project, coding adventure or advocacy efforts I'm undertaking.
            .social-media.noprint
              h5 Follow me
              div
                .tips.icon-btn(title='Twitter', data-placement='bottom')
                  a.glyphicons.white.twitter(href='http://twitter.com/adron')
                    i
                .tips.icon-btn(title='Linkedin', data-placement='bottom')
                  a.glyphicons.white.linked_in(href='http://www.linkedin.com/in/adron')
                    i
                .tips.icon-btn(title='Github', data-placement='bottom')
                  a.glyphicons.white.github(href='http://www.github.com/adron')
                    i
                .tips.icon-btn(title='Composite Code', data-placement='bottom')
                  a.glyphicons.white.rss(href='http://compositecode.com')
                    i
                .tips.icon-btn(title='VCard', data-placement='bottom')
                  a.glyphicons.white.vcard(href='/adron_hall.vcf')
                    i
                .tips.icon-btn(title='Photography', data-placement='bottom')
                  a.glyphicons.white.picture(href='http://photos.adron.me')
                    i
          #personal-information.section
            h2.section-title
              span.glyphicons.user
                i
              | Personal Information
              a.top.visible-phone(href='#phone-navbar')
                span.glyphicons.white.up_arrow
                  i
            .row
              .infoline.span9
                .row
                  .span2.muted Address
                  .span7
                    | 818 SW 3rd Ave #378
                    br
                    | Portland, OR 97204
                    br
              span.clear
              .infoline.span9
                .row
                  .span2.muted Email
                  .span7 "adronhall" at the famous "gmail.com"
              span.clear
              .infoline.span9
                .row
                  .span2.muted Phone
                  .span7
                    | 503 890 8036
                    br
              span.clear
              .infoline.span9.last
                .row
                  .span2.muted Website
                  .span7
                    a(href='http://compositecode.com', title='') Composite Code
                    br
                    a(href='http://adron.me') Adron.me
                    br
                    a(href='http://photos.adron.me') Photos
              span.clear
            | Updates to this site and others are coming!
        //
           END OF THE MAIN CONTENT 
        //
           Sidebar placed on the RIGHT of the screen 
        #sidebar.span3.sbright.noprint
          .sidebar-nav.equal.hidden-phone
            ul#resumenav.nav.nav-list.affix
              li
                a.scroller(href='#about-me') About me
              li
                a.scroller(href='#personal-information') Personal Info
          //
            /sidebar-nav 
          span.clear
        //
          /span3 
      //
        /row
      #footer
        p © Adron B. Hall - 2013
    //
      /.container
