extends layout

block headerjs
  script(src='/js/jquery-1.9.1.js')
  script(src='/js/jquery-ui-1.10.2.custom.js')
  script
    $(function() {
    $( "#accordion" ).accordion({
    collapsible: true
    });
    });

block content
 #page
    #content
        .container.outer-wrap
          .dark-bg
            .fake-bg
            .color-bg
              .columns.four
                #logo
                  a(href='/')
                    img(src='images/my_photo.png', alt='Home')
                  .shadow-wrap
                .content-pad
                  h3.org-head
                    span Presentations
                  p This is a dedicated part of my site, to the presentations I've given. To return back to my home page, just click on the image above.
              .columns.twelve
                #tab-body
                  #tab-container.tab-container
                    ul.etabs
                      li.tab
                        a.home(href='#home')
                          span.icon-wrap
                            i.icon-home
                          | Slideshows
                    .panel-container
                      #home.page
                        .content-wrap
                          .content.seven
                            .content-pad

                              p Here you'll be able to find slideshows in various formats that I've presented with.
                              
                              | <script async class="speakerdeck-embed" data-id="5081d72d13522300020068dc" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

                              | <script async class="speakerdeck-embed" data-id="5081eeedfabc020002006e24" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

                              | <script async class="speakerdeck-embed" data-id="5081ef19fabc020002006ea8" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

                              | <script async class="speakerdeck-embed" data-id="5081ef17fabc020002006e96" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

                              | <script async class="speakerdeck-embed" data-id="5081ef0716da7d0002004d58" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

                              | <script async class="speakerdeck-embed" data-id="5081eeee135223000200afd0" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

                              | <script async class="speakerdeck-embed" data-id="5081eeed135223000200afbb" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>

                              | <script async class="speakerdeck-embed" data-id="8a90557069e40130c77d22000a91bfda" data-ratio="1.2994923857868" src="//speakerdeck.com/assets/embed.js"></script>

                              | <script async class="speakerdeck-embed" data-id="e1970f606e310130cd2d12313b101ca7" data-ratio="1.2994923857868" src="//speakerdeck.com/assets/embed.js"></script>

              .clearfix
              footer
                .columns.eight
                  .content-pad Copyright © 2013 Adron B Hall
                .clearfix
      p#back-top(style='display: block;')
        a(href='#top')
        
block footerjs